@font-face {
  font-family: 'LatoLTE';
  src: url(../../fonts/Lato/Lato-Light.ttf)
}
@font-face {
  font-family: 'Lato';
  src: url(../../fonts/Lato/Lato-Regular.ttf)
}
@font-face {
  font-family: 'LatoBOLD';
  src: url(../../fonts/Lato/Lato-Bold.ttf)
}

body {
  font-family: 'Lato'
}

header {
  font-family: 'LatoBOLD';
  width: 100%;
  height: 136px;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(90deg, #00ab80, #00a980 50%, #026d6d);
  background: linear-gradient(90deg, #00ab80, #00a980 50%, #026d6d);
  .navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: #fff;
  }
}

.container {
  margin-top: 16px;
  max-width: 1507px;
}

.box {
  height: 2000px;
  overflow: auto;
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
